/* 1. Gaya Huruf Roboto Reguler */
.roboto-regular{
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    ;
}
/* 2. Gaya Huruf Roboto Bold */
.roboto-bold{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}
/* 3. Gaya Huruf Playball  */
.playball-regular{
    font-family: "Playball", cursive;
    font-weight: 400;

}